body {
    background-image: url(img/fundo.jpg);
    background-size: cover;
    /*a imagem cobre todo o fundo*/
    background-attachment: fixed;
    /*a imagem permanece fixa ao fundo*/
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 14, 14);
}

h4 {
    font-family: cursive;
    font-size: 1.2rem;
}

header {
    background-position: center;
    text-align: center;
    padding: 1.875rem 0;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: cursive;
    margin-top: unset;
    font-style: italic;
}

header img {
    position: absolute;
    top: -25px;
    left: 25px;
}

#slogan {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: -2rem;
    font-family: cursive;
}

.menu {
    background-color: rgba(0, 0, 0, 0.5);
    /*cor de fundo semi-transparente para o menu */
    padding: 0.625rem 0;
    margin-top: 2rem;
}

.menu a {
    color: white;
    /* cor do texto dos links do menu branco */
    text-decoration: none;
    /*sem o underline */
    padding: 0.3125rem 0.625rem;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* cor de fundo semi-transparente quando o link for hover */
    border-radius: 5%;
}

.menu nav {
    display: flex;
    justify-content: center;
}

.menu nav a:not(:last-child) {
    margin-right: 1.25rem;
    /* margem direita entre os links do menu */
}

.layout {
    display: flex;
}

.tamanhoXicara,
.tiposCafe {
    flex: 1;
}

.tamanhoXicara {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1.25rem;
    margin-left: -1.25rem;
}

.tamanho {
    text-align: center;
    margin: 0.625rem;

}

.tamanho img {
    max-width: 100px;
    /* Defina o tamanho máximo da imagem como desejar */
}

.tiposCafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    margin-top: -1.25rem;
    margin-left: -2.25rem;
}

.conteiner {
    display: flex;
}

.produto {
    margin: 0.625rem;
    width: 15.625rem;
    display: flex;
    flex-direction: column;
}

.produtoImagem img {
    max-width: 100%;
    /* Defina o tamanho máximo da imagem como desejar */
    border-radius: 10%;

}

.produtoImagem h3 {
    font-family: cursive;
}

.cafeTexto {
    text-align: center;
    color: rgb(28 26 26 / 90%);
    font-weight: bold;

}

.cafeTexto a {
    text-decoration: none;
}


.contatos {
    text-align: center;
}

.contatos a {
    text-decoration: none;
    color: rgb(28 26 26 / 90%);
    font-weight: bold;
}



#referencia {
    text-align: center;
    font-size: 1.375rem;
    margin-bottom: auto;
    margin-top: 2.33125rem;
}

#logoimage {
    position: absolute;
    right: -10px;

}


footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: italic;

}



@media screen and (max-width:768px) {
    h1 {
        font-size: 1rem;
    }

    header img {
        top: -15px;
        left: -15px;
        width: 20%;
    }

    .layout {
        flex-direction: column;
    }

    .conteiner {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .tamanhoXicara,
    .tiposCafe {
        margin-left: 0;
        /* Remover margem esquerda negativa */
        flex: 0;
    }

    .tiposCafe {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        align-items: center;
        text-align: center;

        flex-direction: column;
    }

    .tiposCafe h3 {
        text-align: center;
        margin-top: 10%;
        font-size: 2em;
    }

    .produto {
        width: 100%;
        /* Ocupar toda a largura disponível */
    }

    .produtoImagem img {
        border-radius: 0;
        /* Remover borda arredondada */
    }

    #logoimage {
        display: none;
        /*       right: -5px; */
    }

}